.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.mt-15 {
  margin-top: 15px;
}
.display-box {
  justify-content: center;
  display: flex;
  /* max-width: 400px; */
  margin-top: 10%;
}
